<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CommonServiceLocator" version="1.3" targetFramework="net451" />
  <package id="encog-dotnet-core" version="3.3.0" targetFramework="net451" />
  <package id="ExcelDataReader" version="2.1.2.3" targetFramework="net451" />
  <package id="Extended.Wpf.Toolkit" version="2.5" targetFramework="net451" />
  <package id="MvvmLight" version="5.2.0.0" targetFramework="net451" />
  <package id="MvvmLightLibs" version="5.2.0.0" targetFramework="net451" />
  <package id="ProjNet" version="1.2" targetFramework="net451" />
  <package id="protobuf-net" version="2.0.0.668" targetFramework="net451" />
  <package id="SharpZipLib" version="0.86.0" targetFramework="net451" />
</packages>